By using this bot, your user ID, first name, and what command you used will record\.

This bot is licensed under GPLv3\. You can go to https://github\.com/Emojigit/tg\_cmdreply to get the source code\.

You can get the list of commands by using the /help command\.
